
<section class="section comtact" style="display:flex; width:100vw;height:100vh;">
    <div class="container" style="margin:auto;text-align:center;">
        <h1>
            Thank you for sending the message!!!
        </h1>
        <p>
            @(Model == "Success" ? "Your message was Success!! We will get back to you as soon as possible." : "Your message was not Successfull, kindly press the back button and tey again.")
        </p>
    </div>
</section>